<h3>Post Form</h3>

<%= form_for @post do |p_form| %>
  <p><%= p_form.label "Post title:" %><br>
  <%= p_form.text_field :title %></p>

  <p><%= p_form.label "Post Description" %><br>
  <%= p_form.text_area :description %><br></p>
  <%= p_form.submit %>
<% end %>